@use '../helpers/' as *;

.burger-button {
    @include square(rem(36));

    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    padding: rem(8.5) rem(4.25);
    color: var(--color-accent);
    background-color: transparent;
    border: none;
    min-width: rem(34);
    z-index: 101;


    @include hover {
        color: var(--color-blue);
    }

    &.is-active {
        .burger-button__line {
            color: var(--color-close);
            &:first-child {
                rotate: 45deg;
                transform-origin: 0;
                translate: 0.27em -0.14em;
            }

            &:nth-child(2) {
                rotate: -45deg;

            }

            &:last-child {
                width: 0;
            }
        }
    }

    &__line {
        background-color: currentColor;
        width: 100%;
        height: rem(2);
        border-radius: 1rem;
        transition-duration: var(--transition-duration);

    }
}