@use '../helpers/' as *;

.cards {
    margin-top: rem(60);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__title {
        max-width: rem(600);
        text-align: center;
    }

    &__list {
        flex: 1;
        margin-top: rem(34);
        display: flex;
        flex-wrap: wrap;
        gap: rem(27);
        align-items: center;
        min-width: rem(1250);
        margin-inline:  rem(-25);
        justify-content: center;

        @media (max-width: 1185px) {
            min-width: rem(350); 
        }

        @include mobile {
            gap: rem(10);
        }
    }

    &__item {
        width: rem(270);
        height: rem(254);
        background-color: var(--color-cards);
        border-radius: rem(30);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: rem(50) rem(35);
        row-gap: rem(10);
        text-align: center;

        @include mobile-s {
            width: rem(145);
            height: rem(175);
            padding-inline: rem(7);

            &:last-child {
                flex: 1 1 auto;
                flex-direction: row;
                max-width: rem(300);
                column-gap: rem(17);
            }
        }
    }

    &__item--image {
        @include mobile {
            max-width: rem(40);
        }
    }

    &__item--title {
        font-size: rem(16);

        @include mobile {
            font-size: rem(12);         
        }
    }

    &__item--text {
        font-size: rem(14);

        @include mobile {
            font-size: rem(9);         
        }
    }
}
.mobile-flex {
    max-width: rem(150);

    @include mobile-s-above {
        display: contents;
    }
}
