@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 16px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
   Пригодится в большинстве ситуаций
   (когда, например, нужно будет "прижать" футер к низу сайта)
  */
  height: 100%;
  /**
   Убираем скачок интерфейса по горизонтали
   при появлении / исчезновении скроллбара
  */
  scrollbar-gutter: stable;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
   Пригодится в большинстве ситуаций
   (когда, например, нужно будет "прижать" футер к низу сайта)
  */
  min-height: 100%;
  /**
   Унифицированный интерлиньяж
  */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not([fill=none],
[fill^=url])) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke=none],
[stroke^=url])) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy-SemiBold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-light: #FFFFFF;
  --color-light-blue: #F9F8FD;
  --color-cards: #EAF2F5;
  --color-dark: #141414;
  --color-dark-blue: #22253B;
  --color-blue: #38BFF2;
  --color-accent: #F15525;
  --color-dash: #DEDEDE;
  --color-dash-footer: #B8B8B8;
  --color-gray-text: #8E8E8E;
  --color-close: #BCBCBC;
  --font-family-base: "Gilroy", sans-serif;
  --container-width: 72.5rem;
  --container-padding-x: 1.5rem;
  --transition-duration: 0.2s;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (width <= 47.99875rem) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (width > 47.99875rem) {
  .visible-mobile {
    display: none !important;
  }
}

.gray-text {
  color: var(--color-gray-text);
}

.blue-link {
  color: var(--color-blue);
  white-space: nowrap;
}

.color-accent {
  color: var(--color-accent);
}

.orange-text {
  color: var(--color-accent);
}

html.is-lock {
  overflow: hidden;
}
html, html body {
  overflow-x: hidden;
}

body {
  font-size: clamp(0.75rem, 0.6694214876rem + 0.3305785124vw, 1rem);
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  letter-spacing: -0.03em;
  color: var(--color-dark-blue);
  background-color: var(--color-light-blue);
  font-weight: 400;
}

main {
  flex-grow: 1;
  margin-inline: 0.8125rem;
}

h1, .h1,
h2, .h2,
h3, .h3 {
  font-weight: 500;
}

h1, .h1,
h2, .h2 {
  font-size: clamp(1.5rem, 1.0568181818rem + 1.8181818182vw, 2.875rem);
  line-height: 2.875rem;
}
@media (width <= 47.99875rem) {
  h1, .h1,
  h2, .h2 {
    line-height: 1.5rem;
  }
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;
}
@media (any-hover: hover) {
  a:hover {
    color: var(--color-accent);
  }
}
@media (any-hover: none) {
  a:active {
    color: var(--color-accent);
  }
}
a[class] {
  text-decoration: none;
}

:focus-visible {
  outline: 0.125rem dashed var(--color-light);
  outline-offset: 0.25rem;
  transition-duration: 0s !important;
}

.burger-button {
  width: 2.125rem;
  height: 2.125rem;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.53125rem 0.265625rem;
  color: var(--color-accent);
  background-color: transparent;
  border: none;
  min-width: 2.125rem;
  z-index: 101;
}
@media (any-hover: hover) {
  .burger-button:hover {
    color: var(--color-blue);
  }
}
@media (any-hover: none) {
  .burger-button:active {
    color: var(--color-blue);
  }
}
.burger-button.is-active .burger-button__line {
  color: var(--color-close);
}
.burger-button.is-active .burger-button__line:first-child {
  rotate: 45deg;
  transform-origin: 0;
  translate: 0.25em -0.17em;
}
.burger-button.is-active .burger-button__line:nth-child(2) {
  rotate: -45deg;
}
.burger-button.is-active .burger-button__line:last-child {
  width: 0;
}
.burger-button__line {
  background-color: currentColor;
  width: 100%;
  height: 0.125rem;
  border-radius: 1rem;
  transition-duration: var(--transition-duration);
}

.header {
  position: sticky;
  z-index: 100;
  top: 0;
  margin-top: 1.5rem;
  margin-inline: 0.8125rem;
}
.header__body-inner {
  display: flex;
  padding: 1.375rem 2.0625rem 0.875rem 2.125rem;
  -moz-column-gap: 3.0625rem;
       column-gap: 3.0625rem;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-light);
  border-radius: 75px;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  animation-name: scrolling-header;
  animation-fill-mode: both;
  animation-timeline: scroll();
  animation-range: 6.25rem 12.5rem;
  min-width: 18.75rem;
}
@media (width <= 63.99875rem) {
  .header__body-inner {
    -moz-column-gap: 1.875rem;
         column-gap: 1.875rem;
  }
}
@media (width <= 47.99875rem) {
  .header__body-inner {
    padding: 0.6875rem 0.875rem 0.4375rem 1.0625rem;
    -moz-column-gap: 1.3125rem;
         column-gap: 1.3125rem;
  }
}
@keyframes scrolling-header {
  to {
    box-shadow: 0 0 1rem 0 var(--color-dark-blue);
  }
}
.header__menu {
  align-self: flex-start;
  flex-grow: 1;
}
@media (width <= 47.99875rem) {
  .header__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: -2.25rem;
    left: -1.25rem;
    width: 110vw;
    height: 110vh;
    background-color: var(--color-light);
    transition-duration: var(--transition-duration);
    font-size: 1.25rem;
    line-height: 100%;
    padding-block: 8rem;
  }
  .header__menu:not(.is-active) {
    opacity: 0;
    visibility: hidden;
    translate: 100%;
  }
}
.header__menu-list {
  display: flex;
  -moz-column-gap: 2.5625rem;
       column-gap: 2.5625rem;
}
@media (width <= 63.99875rem) {
  .header__menu-list {
    -moz-column-gap: 1.875rem;
         column-gap: 1.875rem;
  }
}
@media (width <= 47.99875rem) {
  .header__menu-list {
    -moz-column-gap: 0;
         column-gap: 0;
    flex-direction: column;
    row-gap: 1rem;
  }
}

.logo {
  align-self: flex-start;
}
@media (width <= 47.99875rem) {
  .logo {
    align-self: center;
  }
}
.logo__image {
  min-width: 4rem;
}

.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 3.75rem;
}
@media (width <= 47.99875rem) {
  .footer {
    margin-top: 1.5rem;
  }
}
.footer__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 10.625rem;
       column-gap: 10.625rem;
  padding-bottom: 3.25rem;
  border-bottom: 0.0625rem solid var(--color-dash-footer);
}
@media (width <= 63.99875rem) {
  .footer__body {
    -moz-column-gap: 7.5rem;
         column-gap: 7.5rem;
  }
}
@media (width <= 47.99875rem) {
  .footer__body {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2.6875rem;
    padding-bottom: 2rem;
  }
}
.footer__about {
  margin-left: auto;
}
@media (width <= 47.99875rem) {
  .footer__about {
    margin-left: 0;
  }
}
.footer__about--list {
  display: flex;
  flex-direction: column;
  row-gap: 1.5625rem;
}
.footer__about--item {
  text-align: center;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  text-align: center;
}
@media (width <= 47.99875rem) {
  .footer__contacts {
    align-self: center;
    align-items: center;
    justify-content: center;
  }
}
.footer__extra {
  display: flex;
  -moz-column-gap: 4rem;
       column-gap: 4rem;
  padding-block: 1.75rem;
}
@media (width <= 63.99875rem) {
  .footer__extra {
    -moz-column-gap: 3rem;
         column-gap: 3rem;
  }
}
@media (width <= 47.99875rem) {
  .footer__extra {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-block: 1.5rem;
    row-gap: 0.8125rem;
  }
}
.footer__extra--agreement-link {
  margin-left: auto;
}
@media (width <= 47.99875rem) {
  .footer__extra--agreement-link {
    margin-left: 0;
    color: var(--color-accent);
  }
}
@media (width <= 47.99875rem) and (any-hover: hover) {
  .footer__extra--agreement-link:hover {
    opacity: 0.8;
  }
}
@media (width <= 47.99875rem) and (any-hover: none) {
  .footer__extra--agreement-link:active {
    opacity: 0.8;
  }
}
@media (width <= 47.99875rem) {
  .footer__extra--confidentiality-link {
    margin-left: 0;
    color: var(--color-accent);
  }
}
@media (width <= 47.99875rem) and (any-hover: hover) {
  .footer__extra--confidentiality-link:hover {
    opacity: 0.8;
  }
}
@media (width <= 47.99875rem) and (any-hover: none) {
  .footer__extra--confidentiality-link:active {
    opacity: 0.8;
  }
}

.soc1als {
  display: flex;
  flex-direction: column;
  row-gap: 2.3125rem;
  align-self: flex-start;
}
@media (width <= 47.99875rem) {
  .soc1als {
    align-self: center;
    row-gap: 1.4375rem;
  }
}
.soc1als__title {
  display: flex;
  -moz-column-gap: 0.625rem;
       column-gap: 0.625rem;
}
.soc1als-contacts__list {
  display: flex;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.soc1als-contacts__link {
  width: 2.1875rem;
  height: 2.1875rem;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-dark-blue);
}
@media (any-hover: hover) {
  .soc1als-contacts__link:hover {
    opacity: 0.8;
  }
}
@media (any-hover: none) {
  .soc1als-contacts__link:active {
    opacity: 0.8;
  }
}
.soc1als-contacts__link svg {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  color: var(--color-light);
}

.learn.swiper-button-prev::after, .learn.swiper-button-next::after {
  color: var(--color-light) !important;
  font-size: 90px !important;
}

.learn__item.swiper-slide {
  display: flex;
  -moz-column-gap: 2.5rem;
       column-gap: 2.5rem;
  padding-block: 3.75rem;
  padding-left: 6.125rem;
  padding-right: 4.875rem;
  margin-top: 1.4375rem;
  background-image: url(../images/background.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: -229rem -130rem;
  border-radius: 3rem;
}
@media (width <= 63.99875rem) {
  .learn__item.swiper-slide {
    padding-left: 4rem;
    padding-right: 3.125rem;
    background-position: -234rem -130rem;
  }
}
@media (width <= 47.99875rem) {
  .learn__item.swiper-slide {
    padding-block: 2rem;
    padding-inline: 0.3125rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-position: -262rem -110rem;
  }
}
@media (width <= 30.06125rem) {
  .learn__item.swiper-slide {
    background-position: -275rem -113rem;
  }
}

.learn__item--info {
  max-width: 38.125rem;
  flex-shrink: 1;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (width <= 47.99875rem) {
  .learn__item--info {
    margin: auto;
    margin-bottom: 1.9375rem;
  }
}
.learn__item--image {
  flex-shrink: 1;
  -o-object-fit: contain;
     object-fit: contain;
}
.learn__item--h2 {
  position: relative;
  padding-bottom: 1.5rem;
}
@media (width <= 47.99875rem) {
  .learn__item--h2 {
    padding-bottom: 1rem;
  }
}
.learn__item--h2 span {
  font-weight: 600;
}
.learn__item--h2 span::before {
  content: "{";
  color: var(--color-accent);
}
@media (width <= 47.99875rem) {
  .learn__item--h2 span::before {
    display: none;
  }
}
.learn__item--h2 span::after {
  content: "}";
  color: var(--color-accent);
}
@media (width <= 47.99875rem) {
  .learn__item--h2 span::after {
    display: none;
  }
}
.learn__item--text {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  border-top: 0.0625rem solid var(--color-dash);
  max-width: 22.8125rem;
}
@media (width <= 47.99875rem) {
  .learn__item--text {
    padding-top: 1rem;
    align-self: center;
  }
}

.orange-button {
  display: flex;
  -moz-column-gap: 0.3125rem;
       column-gap: 0.3125rem;
  align-items: center;
  justify-content: center;
  color: var(--color-light);
  border-radius: 82px;
  background: var(--color-accent);
  padding: 1.75rem 2.375rem 1.75rem 2.8125rem;
  border: none;
  width: 100%;
  max-width: 16.5625rem;
  position: relative;
}
@media (width <= 47.99875rem) {
  .orange-button {
    margin: auto;
  }
}
@media (any-hover: hover) {
  .orange-button:hover {
    opacity: 0.9;
  }
}
@media (any-hover: none) {
  .orange-button:active {
    opacity: 0.9;
  }
}
.orange-button svg {
  color: var(--color-light);
  max-height: 0.9375rem;
}

.swiper-button.swiper-button-next,
.swiper-button.swiper-button-prev {
  width: 2.3125rem;
  height: 2.3125rem;
  background-color: var(--color-light);
  border-radius: 50%;
  transition-duration: var(--transition-duration);
}
@media (width <= 47.99875rem) {
  .swiper-button.swiper-button-next,
  .swiper-button.swiper-button-prev {
    display: none;
  }
}
@media (any-hover: hover) {
  .swiper-button.swiper-button-next:hover,
  .swiper-button.swiper-button-prev:hover {
    background-color: var(--color-accent);
  }
  .swiper-button.swiper-button-next:hover svg,
  .swiper-button.swiper-button-prev:hover svg {
    color: var(--color-light);
  }
}
@media (any-hover: none) {
  .swiper-button.swiper-button-next:active,
  .swiper-button.swiper-button-prev:active {
    background-color: var(--color-accent);
  }
  .swiper-button.swiper-button-next:active svg,
  .swiper-button.swiper-button-prev:active svg {
    color: var(--color-light);
  }
}
.swiper-button.swiper-button-next svg,
.swiper-button.swiper-button-prev svg {
  color: var(--color-dark);
  width: 0.75rem;
}

.swiper-button.swiper-button-prev {
  rotate: 180deg;
}

.swiper-button.swiper-button-next::after,
.swiper-button.swiper-button-prev::after {
  content: "";
}

.cards {
  margin-top: 3.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (width <= 47.99875rem) {
  .cards {
    margin-top: 1.875rem;
  }
}
.cards__title {
  max-width: 37.5rem;
  text-align: center;
}
.cards__list {
  flex: 1;
  margin-top: 2.125rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.6875rem;
  align-items: center;
  min-width: 78.125rem;
  margin-inline: -1.5625rem;
  justify-content: center;
}
@media (max-width: 1185px) {
  .cards__list {
    min-width: 21.875rem;
  }
}
@media (width <= 47.99875rem) {
  .cards__list {
    gap: 0.625rem;
  }
}
.cards__item {
  width: 16.875rem;
  height: 15.875rem;
  background-color: var(--color-cards);
  border-radius: 1.875rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3.125rem 2.1875rem;
  row-gap: 0.625rem;
  text-align: center;
}
@media (max-width: 1185px) {
  .cards__item:last-child {
    flex: 1 1 auto;
    max-width: 54.375rem;
  }
}
@media (max-width: 935px) {
  .cards__item:last-child {
    max-width: 35.3125rem;
  }
}
@media (width <= 47.99875rem) {
  .cards__item:last-child {
    max-width: 34.375rem;
  }
}
@media (max-width: 621px) {
  .cards__item:last-child {
    max-width: 16.875rem;
  }
}
@media (width <= 30.06125rem) {
  .cards__item {
    width: 9.0625rem;
    height: 10.9375rem;
    padding-inline: 0.4375rem;
  }
  .cards__item:last-child {
    flex-direction: row;
    max-width: 18.75rem;
    -moz-column-gap: 1.0625rem;
         column-gap: 1.0625rem;
  }
}
@media (width <= 47.99875rem) {
  .cards__item--image {
    max-width: 2.5rem;
  }
}
.cards__item--title {
  font-size: 1rem;
}
@media (width <= 47.99875rem) {
  .cards__item--title {
    font-size: 0.75rem;
  }
}
.cards__item--text {
  font-size: 0.875rem;
}
@media (width <= 47.99875rem) {
  .cards__item--text {
    font-size: 0.5625rem;
  }
}

.mobile-flex {
  max-width: 9.375rem;
}
@media (width > 30.06125rem) {
  .mobile-flex {
    display: contents;
  }
}

.help {
  margin-top: 3.75rem;
}
.help__list {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.help__list > :nth-child(even) {
  flex-direction: row-reverse;
}
@media (width <= 47.99875rem) {
  .help__list > :nth-child(even) {
    flex-direction: column;
  }
}
.help__item {
  display: flex;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  align-items: stretch flex-1;
  min-height: 19.5625rem;
}
@media (width <= 47.99875rem) {
  .help__item {
    flex-direction: column;
    row-gap: 0.75rem;
  }
}
.help__item--image {
  max-width: 25rem;
  width: 100%;
  border-radius: 2.5rem;
  -o-object-fit: cover;
     object-fit: cover;
  flex: 1;
}
@media (width <= 47.99875rem) {
  .help__item--image {
    max-width: 100%;
  }
}

.ticket {
  padding: 3.125rem 3.125rem 3.125rem 6.25rem;
  background-color: var(--color-cards);
  border-radius: 2.5rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.125rem;
}
@media (width <= 63.99875rem) {
  .ticket {
    padding-left: 1.25rem;
  }
}
@media (width <= 47.99875rem) {
  .ticket {
    padding-block: 1.875rem;
    row-gap: 0.9375rem;
    padding-right: 2.1875rem;
  }
}
.ticket__title {
  font-size: 2rem;
  line-height: 1.875rem;
}
@media (width <= 47.99875rem) {
  .ticket__title {
    font-size: 1.25rem;
    line-height: 1.1875rem;
  }
}
.ticket__text {
  line-height: 1.5625rem;
  display: flex;
  flex-direction: column;
}
@media (width <= 47.99875rem) {
  .ticket__text {
    font-size: 0.75rem;
    line-height: 1.0625rem;
  }
}

.pictures {
  margin-top: 3.75rem;
  display: grid;
  grid-template: repeat(2, 1fr)/repeat(4, 1fr);
  gap: 1.125rem;
  justify-content: center;
  align-items: center;
}
@media (width <= 47.99875rem) {
  .pictures {
    margin-top: 1.5rem;
    grid-template: repeat(4, 1fr)/repeat(2, 1fr);
    max-width: 35.6875rem;
    gap: 0.625rem;
  }
}
.pictures__block {
  border-radius: 1.875rem;
}

.big-image {
  grid-column: span 2;
  grid-row: span 2;
}

.map {
  margin-top: 3.75rem;
  width: 100%;
  height: 26.25rem;
  border-radius: 2.5rem;
  overflow: hidden;
}
@media (width <= 47.99875rem) {
  .map {
    margin-top: 1.5rem;
  }
}

.modal-call {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  transition-duration: var(--transition-duration);
}
.modal-call.is-active {
  width: 100%;
}

.close-button {
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 50%;
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  border: 0.0625rem solid var(--color-dark-blue);
}
@media (any-hover: hover) {
  .close-button:hover {
    background-color: var(--color-accent);
    border: var(--color-light);
  }
  .close-button:hover span {
    background-color: var(--color-light);
  }
}
@media (any-hover: none) {
  .close-button:active {
    background-color: var(--color-accent);
    border: var(--color-light);
  }
  .close-button:active span {
    background-color: var(--color-light);
  }
}
.close-button span {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  display: inline-block;
  width: 50%;
  height: 0.125rem;
  background-color: var(--color-dark-blue);
}
.close-button span:nth-child(1) {
  rotate: 45deg;
}
.close-button span:nth-child(2) {
  rotate: -45deg;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 39.6875rem;
  width: 100%;
  background-color: var(--color-light);
  padding: 5rem 3.375rem;
  min-height: 100vh;
}
.form__title {
  margin-bottom: 2.875rem;
  font-size: 2rem;
  line-height: 1.875rem;
  text-align: center;
}
.form__group {
  width: 100%;
}
.form__group label {
  display: block;
  margin-bottom: 1rem;
  font-weight: 500;
  line-height: 1.1875rem;
}
.form__group input {
  margin-bottom: 1rem;
  width: 100%;
  height: 4.6875rem;
  padding-inline: 1.8125rem;
  border-radius: 0.625rem;
  border: 1px solid rgb(159, 159, 159);
}
.form__group textarea {
  width: 100%;
  height: 7.5rem;
  padding-inline: 1.8125rem;
  padding-block: 1.4375rem;
  border-radius: 0.625rem;
  border: 1px solid rgb(159, 159, 159);
  margin-bottom: 1rem;
}
.form__politics {
  margin-bottom: 1.5625rem;
}
.form__button {
  margin-block: 0;
}/*# sourceMappingURL=main.css.map */